<div class="max-w-350 m-auto">
    <main class="py-5 md:px-10 px-5">
        <page-header firstTitle="Inventario de" secondTitle="Tecnología" description="Gestiona tu ecosistema tecnológico: lenguajes, frontend, backend, DevOps y más." />

        <div class="w-full flex flex-col gap-3">
            <div class="flex flex-col-reverse md:flex-row justify-between w-full gap-2 md:gap-10">
                <div class="w-full bg-secondary rounded-lg py-3 px-3 text-primary flex items-center gap-2">
                    <i class="fas fa-search"></i>
                    <input
                        class="bg-secondary w-full appearance-none focus-within:outline-none"
                        type="text"
                        placeholder="Buscar por nombre (mínimo 3 caracteres)"
                        (input)="nameTech.set($event.target.value)"
                    >
                    @if (isLoading() && nameTech()) {
                        <loader-input/>
                    }
                </div>
                <a routerLink="/experience/new-technology" class="min-w-fit px-4 py-3 bg-[#C0C1FF]/10 rounded-sm text-[#C0C1FF]">
                    <i class="fa-solid fa-plus"></i>
                    Nueva Tecnología
                </a>
            </div>

            @if (technologies().length > 0) {
                <div class="grid md:grid-cols-4 gap-3">
                    @for (tech of technologies(); track $index) {
                        <card-technology [technology]="tech" />
                    }
                </div>
            }@else{
                <div class="w-full py-10 flex justify-center items-center">
                    <p class="text-white">No se encontraron tecnologías.</p>
                </div>
            }
        </div>
    </main>
</div>

@if (isLoading() && nameTech()===null) {
    <loading-overlay/>
}
