<footer class="bg-gradient flex flex-col justify-center items-center py-5 gap-5 text-white">
    <img class="w-30" src="logo.svg" alt="devVault_logo">
    <p>© {{ year }} DevVault. Creado por <a href="https://github.com/MrDevv" target="_blank">MrDevv.</a></p>
    <div class="flex gap-3">
        <a href="https://linkedin.com/in/miguelangelvegaperez" target="_blank"><i class="text-2xl fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/MrDevv" target="_blank"><i class="text-2xl fa-brands fa-github"></i></a>
    </div>
</footer>