<div class="max-w-350 m-auto">
    <main class="py-5 md:px-10 px-5">
        <page-header firstTitle="Nueva" secondTitle="Tecnología" description="Expande tu stack tecnológico. Selecciona herramientas de nuestra base de datos y define tu nivel para actualizar tu perfil profesional." />        
        <div class="grid md:grid-cols-[1fr_auto] gap-3">
            <div class="flex flex-col gap-3">
                <div class="p-5 bg-card rounded-xl flex flex-col gap-4">
                    <div class="flex flex-col md:flex-row justify-between items-start md:items-center gap-3 md:gap-40">
                        <h2 class="text-primary text-nowrap text-lg font-bold">Explotador de Tecnologías</h2>
                        <div class="w-full bg-secondary rounded-lg py-3 px-3 text-primary flex items-center gap-2">
                            <i class="fas fa-search"></i>
                            <input
                                class="bg-secondary w-full appearance-none focus-within:outline-none"
                                type="text"
                                placeholder="Buscar por nombre (mínimo 2 caracteres)"
                                (input)="nameTech.set($event.target.value)"
                            >
                            @if (isLoading() && nameTech()) {
                                <loader-input/>
                            }
                        </div>
                    </div>
                    @if (technologies()?.content?.length! > 0) {
                        <div class="grid md:grid-cols-4 gap-4">
                            @for (tech of technologies()?.content; track $index) {
                                <div 
                                    class="cursor-pointer bg-[#1B1B1C] flex flex-col gap-2 rounded-lg p-5"
                                    (click)="seleccionarTech(tech)"
                                    [class.bg-[#353436]]="technologySelected()?.tecnologia_uuid === tech.tecnologia_uuid"
                                    [class.outline-1]="technologySelected()?.tecnologia_uuid === tech.tecnologia_uuid"
                                    [class.outline-[#C0C1FF]]="technologySelected()?.tecnologia_uuid === tech.tecnologia_uuid"
                                >
                                    <div 
                                        class="rounded-sm flex justify-center items-center w-10 h-10"
                                        [class.bg-secondary]="!tech.logo_url"
                                    >
                                        @if (!tech.logo_url) {
                                            <i class="fa-solid fa-terminal"></i>
                                        }@else {
                                            <img [src]="tech.logo_url" [alt]="tech.tecnologia">
                                        }
                                    </div>
                                    <h3 class="text-primary text-xl font-bold">{{ tech.tecnologia }}</h3>
                                    <div 
                                        class="px-2 py-1 rounded-sm max-w-fit"
                                        [ngClass]="obtenerColorTech(tech.tipo_tecnologia.descripcion)"
                                    >
                                        <span class="uppercase text-[12px] font-bold"> {{ tech.tipo_tecnologia.descripcion }} </span>
                                    </div>
                                </div>
                            }
                        </div>
                    }@else {
                        <div class="w-full py-10 flex justify-center items-center">
                            <p class="text-white">No se encontraron tecnologías.</p>
                        </div>
                    }
                    <p class="text-primary text-sm text-end">{{ totalElements() }} tecnologías disponibles</p>
                </div>
                <div class="p-5 bg-card rounded-xl flex flex-col gap-4">
                    <h2 class="text-primary text-nowrap text-lg font-bold">Nivel de dominio <span class="font-normal">(Opcional)</span></h2>
                    <div class="flex flex-col md:flex-row gap-4">
                        <div 
                            class="cursor-pointer bg-[#1B1B1C] rounded-lg p-6 text-primary text-center"
                            (click)="seleccionarNivel('Básico')"
                            [class.bg-[#353436]]="nivelSelected()?.match('Básico')"
                            [class.outline-1]="nivelSelected()?.match('Básico')"
                            [class.outline-[#C0C1FF]]="nivelSelected()?.match('Básico')"
                        >
                            <h3 class="font-bold text-[16px] mb-2">Básico</h3>
                            <p class="text-secondary text-sm">Conceptos básicos y aprendizaje</p>
                        </div>
                        <div 
                            class="cursor-pointer bg-[#1B1B1C] rounded-lg p-6 text-primary text-center" 
                            (click)="seleccionarNivel('Intermedio')"
                            [class.bg-[#353436]]="nivelSelected()?.match('Intermedio')"
                            [class.outline-1]="nivelSelected()?.match('Intermedio')"
                            [class.outline-[#C0C1FF]]="nivelSelected()?.match('Intermedio')"
                        >
                            <h3 class="font-bold text-[16px] mb-2">Intermedio</h3>
                            <p class="text-secondary text-sm">Aplicación práctica y resolución de problemas</p>
                        </div>
                        <div 
                            class="cursor-pointer bg-[#1B1B1C] rounded-lg p-6 text-primary text-center" 
                            (click)="seleccionarNivel('Avanzado')"
                            [class.bg-[#353436]]="nivelSelected()?.match('Avanzado')"
                            [class.outline-1]="nivelSelected()?.match('Avanzado')"
                            [class.outline-[#C0C1FF]]="nivelSelected()?.match('Avanzado')"
                        >
                            <h3 class="font-bold text-[16px] mb-2">Avanzado</h3>
                            <p class="text-secondary text-sm">Liderazgo técnico y arquitectura</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-5 md:min-w-80 md:max-h-fit bg-card rounded-xl flex flex-col gap-4">
                <h2 class="text-primary text-nowrap text-lg font-bold">Resumen de Selección</h2>    
                <div class="text-secondary flex flex-col gap-3 mb-5">
                    <div class="grid grid-cols-2 border-b border-[#464554]/20 pb-3">
                        <p>Tecnología</p> 
                        <span class="font-bold"> {{ technologySelected()?.tecnologia || 'No especificado' }} </span>
                    </div>
                    <div class="grid grid-cols-2 border-b border-[#464554]/20 pb-3">
                        <p>Nivel</p> 
                        <span class="font-bold">{{ nivelSelected() || 'No especificado' }}</span>
                    </div>
                </div>
                <button 
                    class="w-full disabled:cursor-not-allowed cursor-pointer px-4 py-2 bg-[#C0C1FF]/10 rounded-sm text-[#C0C1FF]"
                    [disabled]="isLoading()"
                    (click)="agregarTecnologiaDesarrollador()" 
                >
                        Agregar al Stack
                </button>
                <button routerLink="/technologies" class="cursor-pointer w-full px-4 py-2 bg-transparent border-2 border-[#464554]/30 rounded-sm text-[#C0C1FF]">
                        Cancelar
                </button>
            </div>
        </div>
    </main>
</div>

@if (isLoading() && nameTech()===null) {
    <loading-overlay/>
}