<div class="bg-card hover:bg-secondary h-full p-8 rounded-xl transition-all hover:bg-[#333333] duration-300">
    <div 
        class="w-12 h-12 rounded-lg flex items-center justify-center mb-8 group-hover:scale-110 transition-transform"
        [ngClass]="option()?.bgClass"
    >
        <i 
            class="text-xl"
            [ngClass]="[option()?.icon, option()?.textClass]"
            
        ></i>
    </div>
    <h3 class="text-xl font-bold text-primary mb-3">{{ option()?.nombre }}</h3>
    <p class="text-secondary text-sm leading-relaxed"> {{ option()?.description }} </p>
</div>