/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap);
@import 'tailwindcss';
@import 'prismjs/themes/prism-tomorrow.css';


@layer base {
    body{
        font-family: "Manrope", sans-serif;
    }
}

@layer components {
    .bg-navbar { 
        background-color: rgba(19, 19, 20, 0.8); /* #131314 con opacidad */
        backdrop-filter: blur(20px);
    }

    .bg-secondary {
        background-color: #0e0e0f;
    }

    .bg-primary {
        background-color:#131314;
    }

    .bg-card {
        background-color: #1b1b1c;
    }

    .bg-gradient {
        background: linear-gradient(to bottom, #333333 0%, #181819 100%);
    }

    .bg-gradient-card {
        background: linear-gradient(to top, #878787 0%, #212121 100%);
    }

    .text-primary {
        color: #e5e2e3;
    }

    .text-secondary {
        color: #c7c4d7;
    }    
}


@layer utilities {
  .font-manrope {
    font-family: "Manrope", sans-serif;
  }
}


/* Scroll */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #575c66;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #222a35;
}