/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@layer components {
    .bg-secondary {
        background-color: #333333;
    }

    .bg-primary {
        background-color: #181819;
    }

    .bg-gradient {
        background: linear-gradient(to bottom, #333333 0%, #181819 100%);
    }

    .bg-gradient-card {
        background: linear-gradient(to top, #878787 0%, #212121 100%);
    }

    .text-primary {
        color: #CDCDCD;
    }
}


/* Scroll */
::-webkit-scrollbar {
  width: 6px;
  height: 80px;
}

::-webkit-scrollbar-thumb {
  background: #575c66;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #222a35;
}