<div class="w-full h-dvh overflow-y-auto">
    <navbar-administrativo [dataDeveloper]="professionalData"/>
    
    <div class="max-w-350 m-auto">
        <main class="py-5 px-10">
            <div class="flex flex-col md:flex-row items-end justify-between">
                <header class="flex flex-col gap-3 mb-4">
                    <h2 class="font-extrabold text-4xl text-primary">Datos <span class="text-[#C0C1FF]">Profesionales</span></h2>
                    <div class="text-secondary text-[17px]">
                        <p>Gestiona tus datos profesionales y de contacto. Esta información es útil para que las empresas te contacten y conozca más de ti.</p>
                    </div>
                </header>
                <a [routerLink]="['/professional-data', professionalData?.desarrollador_uuid]" class="bg-card cursor-pointer flex gap-2 items-center mb-4 text-[#C0C1FF] text-sm py-2 px-4 rounded-sm border-2 border-[#C0C1FF]/10">
                    <i class="fa-solid fa-pen"></i>
                    Editar Datos
                </a>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
                <div class="md:col-start-1 md:col-end-3 bg-card p-8 rounded-2xl">
                    <div class="bg-secondary h-20 rounded-xl grid grid-cols-[80px_auto] gap-4 mb-6 pr-4 overflow-hidden">
                        <div class="flex justify-center items-center">
                            @if (professionalData?.logo_url) {
                                <img class="w-full object-cover" [src]="professionalData?.logo_url" alt="logo_url">
                            }@else {
                                <i class="text-secondary text-3xl fa-solid fa-user"></i>
                            }
                        </div>
                        <div class="flex flex-col justify-center gap-1 overflow-x-hidden">
                            <h3 class="text-[#C0C1FF] font-bold text-sm uppercase">Logo</h3>
                            <span 
                                class="truncate"
                                [class.text-primary]="professionalData?.logo_url"
                                [class.text-secondary]="!professionalData?.logo_url"
                            >
                                {{ professionalData?.logo_url ? professionalData?.logo_url : 'No específicado' }}
                            </span>
                        </div>
                    </div>
                    <div class="grid md:grid-cols-2 gap-6 px-4">
                        <div class="flex flex-col justify-center gap-1 overflow-x-hidden">
                            <h3 class="text-[#C0C1FF] font-bold text-sm uppercase">Nombre</h3>
                            <span 
                                class="truncate"
                                [class.text-primary]="professionalData?.nombres"
                                [class.text-secondary]="!professionalData?.nombres"
                            >
                                {{ professionalData?.nombres ? professionalData?.nombres : 'No específicado' }}
                            </span>
                        </div>
                        <div class="flex flex-col justify-center gap-1 overflow-x-hidden">
                            <h3 class="text-[#C0C1FF] font-bold text-sm uppercase">Correo de contacto</h3>
                            <span 
                                class="truncate"
                                [class.text-primary]="professionalData?.correo_contacto"
                                [class.text-secondary]="!professionalData?.correo_contacto"
                            >
                                {{ professionalData?.correo_contacto ? professionalData?.correo_contacto : 'No específicado' }}
                            </span>
                        </div>
                        <div class="flex flex-col justify-center gap-1 overflow-x-hidden">
                            <h3 class="text-[#C0C1FF] font-bold text-sm uppercase">Apellidos</h3>
                            <span 
                                class="truncate"
                                [class.text-primary]="professionalData?.apellidos"
                                [class.text-secondary]="!professionalData?.apellidos"
                            >
                                {{ professionalData?.apellidos ? professionalData?.apellidos : 'No específicado' }}
                            </span>
                        </div>
                        <div class="flex flex-col justify-center gap-1 overflow-x-hidden">
                            <h3 class="text-[#C0C1FF] font-bold text-sm uppercase">Teléfono</h3>
                            <span 
                                class="truncate"
                                [class.text-primary]="professionalData?.telefono"
                                [class.text-secondary]="!professionalData?.telefono"
                            >
                                {{ professionalData?.prefijo_telefono && professionalData?.prefijo_telefono }}
                                {{ professionalData?.telefono ? professionalData?.telefono : 'No específicado' }}
                            </span>
                        </div>
                        <div class="flex flex-col justify-center gap-1 overflow-x-hidden">
                            <h3 class="text-[#C0C1FF] font-bold text-sm uppercase">Puesto</h3>
                            <span 
                                class="truncate"
                                [class.text-primary]="professionalData?.puesto"
                                [class.text-secondary]="!professionalData?.puesto"
                            >
                                {{ professionalData?.puesto ? professionalData?.puesto : 'No específicado' }}
                            </span>
                        </div>
                    </div>      
                </div>
                <div class="md:col-start-3 md:col-end-4 bg-card p-8 rounded-2xl">
                    <h2 class="text-[#C0C1FF] font-bold text-lg uppercase mb-5">Redes y Curriculum</h2>
                    <div class="flex flex-col gap-3">
                        
                        <a
                            [href]="professionalData?.github_url" target="_blank"
                            [class.pointer-events-none]="!professionalData?.github_url"
                            class="flex gap-4 items-center py-4 px-3 bg-secondary rounded-2xl"
                            [class.bg-secondary]="professionalData?.github_url"
                            [class.bg-[#464554]/20]="!professionalData?.github_url"
                        >
                            <div class="flex justify-center bg-[#2B3137] min-w-10 min-h-10 rounded-lg items-center text-primary">
                                <i class="text-lg fa-brands fa-github"></i>
                            </div>
                            <div class="flex justify-between items-center w-full overflow-x-hidden">
                                <div class="flex flex-col overflow-x-hidden">
                                    <h3 class="text-[#C0C1FF] text-sm font-bold uppercase">github</h3>
                                    <span 
                                        class="truncate"
                                        [class.text-primary]="professionalData?.github_url"
                                        [class.text-secondary]="!professionalData?.github_url"
                                    >
                                        {{ professionalData?.github_url ? professionalData?.github_url : 'No específicado' }}
                                    </span>
                                </div>
                                <i 
                                    class="text-primary text-2xl fa-solid fa-angle-right"
                                    [class.invisible]="!professionalData?.github_url">
                                </i>
                            </div>
                        </a>

                        <a
                            [href]="professionalData?.linkedin_url || null" target="_blank"
                            [class.pointer-events-none]="!professionalData?.linkedin_url"
                            class="flex gap-4 items-center py-4 px-3 bg-secondary rounded-2xl"
                            [class.bg-secondary]="professionalData?.linkedin_url"
                            [class.bg-[#464554]/20]="!professionalData?.linkedin_url"
                        >
                            <div class="flex justify-center bg-[#026397] min-w-10 min-h-10 rounded-lg items-center text-primary">
                                <i class="text-lg fa-brands fa-linkedin"></i>
                            </div>
                            <div class="flex justify-between items-center w-full overflow-x-hidden">
                                <div class="flex flex-col overflow-x-hidden">
                                    <h3 class="text-[#C0C1FF] text-sm font-bold uppercase">linkedin</h3>
                                    <span 
                                        class="truncate"
                                        [class.text-primary]="professionalData?.linkedin_url"
                                        [class.text-secondary]="!professionalData?.linkedin_url"
                                    >
                                        {{ professionalData?.linkedin_url ? professionalData?.linkedin_url : 'No específicado' }}
                                    </span>
                                </div>
                                <i 
                                    class="text-primary text-2xl fa-solid fa-angle-right"
                                    [class.invisible]="!professionalData?.linkedin_url">
                                </i>
                            </div>
                        </a>

                        <a
                            [href]="professionalData?.cv_url" target="_blank" 
                            [class.pointer-events-none]="!professionalData?.cv_url"
                            class="flex gap-4 items-center py-4 px-3 bg-secondary rounded-2xl"
                            [class.bg-secondary]="professionalData?.cv_url"
                            [class.bg-[#464554]/20]="!professionalData?.cv_url"
                        >
                            <div class="flex justify-center bg-[#2A2A2B] min-w-10 min-h-10 rounded-lg items-center text-primary">
                                <i class="text-lg  fa-solid fa-file"></i>
                            </div>
                            <div class="flex justify-between items-center w-full overflow-x-hidden">
                                <div class="flex flex-col overflow-x-hidden">
                                    <h3 class="text-[#C0C1FF] text-sm font-bold uppercase">Curriculum vitae</h3>
                                    <span 
                                        class="truncate"
                                        [class.text-primary]="professionalData?.cv_url"
                                        [class.text-secondary]="!professionalData?.cv_url"
                                    >
                                        {{ professionalData?.cv_url ? professionalData?.cv_url : 'No específicado' }}
                                    </span>
                                </div>
                                <i 
                                    class="text-primary text-2xl fa-solid fa-angle-right"
                                    [class.invisible]="!professionalData?.cv_url">
                                </i>
                            </div>
                        </a>                        
                        
                    </div>
                </div>
                
                <div class="md:col-start-1 md:col-end-4 bg-card p-8 rounded-2xl">
                    <h2 class="text-[#C0C1FF] font-bold text-lg uppercase mb-5">Biografía</h2>
                    <p
                        [class.text-primary]="professionalData?.biografia"
                        [class.text-secondary]="!professionalData?.biografia"
                        [class.text-center]="!professionalData?.biografia"
                    > 
                        {{ professionalData?.biografia ? professionalData?.biografia : 'No específicado' }} 
                    </p>
                </div>

                <span class="md:hidden h-15 w-full"></span>
            </div>

        </main>
    </div>

</div>

@if (professionalDataResource.isLoading()) {
    <div class="absolute top-0 left-0 flex justify-center items-center w-full h-dvh bg-black">
        <span class="loader z-20"></span>
    </div>
}